@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');
body{
    background-color: #3C0033;
    position: relative;
}
/* The animation code */
@keyframes dot {
    0%    { transform: scale(0, 0);}
    25%   { transform: scale(0.5, 0.5);}
    50%   { transform: scale(1, 1);}
    75%   { transform: scale(0.75, 0.75);}
    100%  { transform: scale(0.5, 0.5);}
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.heading{
    text-align:center;
}
h1{
    vertical-align:middle;
    font-family: 'Pathway Gothic One', sans-serif;
    color:#fff;
}
.main-container-dot{
    position: absolute;
    margin-top:200px;
    left: 48%;
    .loader{
        background-color:#fff;
        height:15px;
        width:15px;
        margin-right:3px;
        border-radius:50%;
        display: inline-block;
        animation-name: dot;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    .one{
        animation-delay: 0s;
    }
    .two{
        animation-delay: 1s;
    }
    .three{
        animation-delay: 2s;
    }
}
.main-container-circle{
    position: absolute;
    margin-top:200px;
    left: 48%;
    .cirle-loader{
        border: 1px solid #fff; 
        border-top: 1px solid transparent;
        border-radius:50%;
        animation-name: spin;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    .cl1{
        height: 10px;
        width: 10px;
        animation-delay: 0s;
    }
    .cl2{
        height: 20px;
        width: 20px;
        animation-delay: 0.5s;
        position:relative;
        bottom: 17px;
        right: 6px;
    }
    .cl3{
        height: 30px;
        width: 30px;
        animation-delay: 1s;
        position:relative;
        bottom: 43px;
        right: 10px;
    }
    .cl4{
        height: 40px;
        width: 40px;
        animation-delay: 1.5s;
        position:relative;
        bottom: 80px;
        right: 15px;
    }
}